LOGIN_URL=https://wayfcc.up.pt/idp/profile/SAML2/Redirect/SSO?execution=e1s2
ASSIGNMENT_URL=https://moodle2526.up.pt/mod/assign/view.php?id=51946
EXPECTED_FILENAME=questions.pdf
PROFILE_DIR=./profile
DOWNLOADS_DIR=./downloads
STATE_FILE=./state.json
UP_USERNAME=upXXXXXXXXX
UP_PASSWORD=super-secret-password
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=moodle@teu-dominio.com
EMAIL_TO=ia@exemplo.com
EMAIL_SUBJECT=Novo ficheiro Moodle para avaliação
